/******* Resoluções *******/
$smartphone-width: 320px;
$tablet-width: 640px;
$desktop-small-width: 960px;
$desktop-large-width: 1280px;

/******* Fonte ********/
$font: 'Raleway', sans-serif;
$text-size: 14px;
$text-size-medium: 24px;

/* ====== HEADER ====== */
$text-firsth-size: 46px;


/******* Font Weight *******/
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-ultra: 900;

/******* Cores ********/
$first-color: #004B97;
$second-color: #1C1C1C;
$third-color: #dcdcdc;
$fourth-color: #F6F6F6;

$border-color: #efefef;

$success-color: #27ae60;

$text-color: #424242;

$white: #fff;

/******* Cores das Fontes *******/
$first-text-color: #1C1C1C;
$second-text-color: #004B97;