/*CONTENT CSS'S BEGINNING*/
.content{

	&-title{
		font-family: $third-font;
		font-weight: $font-weight-regular;
		font-size:50px;
		color: $fifth-color;
	    background-color: #FFF;
	    width: auto;
	    margin-top: -30px;
	    display: inline-block;
	    padding:0 10px;
	}

	&-title-fixing{
		text-align: center;	
	}
}

.capital-letter{
	font-family: $third-font;
	color:$sixth-color;
	font-size: 25px;
	line-height: 1.2;
	background-color:$fifth-color;
	margin-right: 5px;
	padding-top: 5px;
    padding-left: 5px;
    padding-right: 8px;
    float: left;
}

.green-border{
	border: 1px solid $sixth-color;
	margin-top: 100px;
	padding-bottom: 110px; 
	margin-bottom: 140px;
}


.content-img{
	position: absolute;
}

.person-img{
	width: 100%;
}

.person-name{
	font-family: $first-font;
	font-weight: $font-weight-bolder;
	color: $seventh-color;
}

.person-email{
	color: $eighth-color;
    text-decoration: underline;
}

.person-email:hover{
	color: $eighth-color;
    text-decoration: underline;
}

.person-email:active{
	color: $eighth-color;
    text-decoration: underline;
}

.div-person-fixing{
	margin-bottom:50px;
}
/*CONTENT CSS'S ENDING*/


/*OBJECTIVES CSS'S BEGINNING*/
.objectives{
	&-bg{
		width: 100%;
		min-height: 90vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&-title{
		font-family: $third-font;
		font-weight: $font-weight-regular;
		color: $ninth-color;
		position:relative;
		text-align: center;
	    margin-bottom: 15px;
	    display: inline-block;
	    padding: 0 10px;    
	}

	&-title:before{
		right: 100%;
		background-color: $tenth-color;
	    width: 40px;
	    position: absolute;
	    display: inline-block;
	    content: '';
	    height: 1px;
	    margin: auto;
	    top: 0;
	    bottom:0;
	}

	&-title:after{
		left: 100%;
		background-color: $tenth-color;
	    width: 40px;
	    position: absolute;
	    display: inline-block;
	    content: '';
	    height: 1px;
	    margin: auto;
	    top: 0;
	    bottom:0;
	}	
	
	&-second-title{
		font-family: $first-font;
		font-weight: $font-weight-bolder;
		color: $fourteenth-color;
	}

	&-item{
		font-family: $first-font;
		font-weight: $font-weight-light;
		font-size:13px;
		color: $grey;
		position: relative;
		margin-bottom: 35px;
	}

	&-item:after{
    background-color: $twelfth-color;
    width: 40px;
    position: absolute;
    display: block;
    content: '';
    height: 1px;
    margin: auto;
    margin-top: 15px;
    padding: 0;
    left: 0;
    right: 0;
	}

	&-item:last-of-type:after{
		display: none;
	}

	&-lighter-bg{
		background-color: $thirteenth-color;
	}
}