/******* RESOLUTIONS *******/
$smartphone-width: 320px;
$tablet-width: 640px;
$desktop-small-width: 960px;
$desktop-large-width: 1280px;

/******* FONT ********/
$first-font: 'Roboto Slab', sans-serif;
$second-font: 'Roboto Condensed', sans-serif;
$third-font: 'Great Vibes', sans-serif;
$text-size-logo: 12px;
$text-size: 14px;
$text-size-medium: 24px;

/******** HEADER ********/
$text-first-size: 46px;


/******* FONT WEIGHT *******/
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-regular: 500;
$font-weight-bolder: 700;
$font-weight-ultra: 900;

/******* COLORS ********/
$first-color: #DDFF66;
$second-color: #0e160b;
$third-color: #131B10;
$fourth-color: #455517;
$fifth-color: #1c2017;
$sixth-color: #adc851;
$seventh-color: #778833;
$eighth-color: #70821E;
$ninth-color: #d4f468;
$tenth-color: #3d5025;
$eleventh-color: #2a2e25;
$twelfth-color: #C3E060;
$thirteenth-color: rgba(214,248,95,0.85);
$fourteenth-color: #1f231a;
$grey: #C2C2C2;
$white: #FFF;



$border-color: #efefef;

$success-color: #27ae60;

$text-color: #424242;

$white: #fff;

/******* Cores das Fontes *******/
$first-text-color: #1C1C1C;
$second-text-color: #004B97;